<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byType">

	<aop:aspectj-autoproxy />

	<bean id="licenseAspect" class="com.twocents.security.license.LicenseAspect" />

	<!-- Core Messages -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>com.twocents.resources.TwoCentsCore</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- DAOs -->
	<bean id="com.twocents.dao.DarfDAO" class="com.twocents.dao.DarfHibernateDAO" />
	<bean id="com.twocents.dao.QuoteDAO" class="com.twocents.dao.QuoteHibernateDAO" />
	<bean id="com.twocents.dao.DocumentDAO" class="com.twocents.dao.DocumentHibernateDAO" />
	<bean id="com.twocents.dao.BrokerDAO" class="com.twocents.dao.BrokerHibernateDAO" />
	<bean id="com.twocents.dao.AccountDAO" class="com.twocents.dao.AccountHibernateDAO" />
	<bean id="com.twocents.dao.StockBrokerDAO" class="com.twocents.dao.StockBrokerHibernateDAO" />

	<bean id="com.twocents.dao.CustodyDAO" class="com.twocents.dao.CustodyHibernateDAO" />
	<bean id="com.twocents.dao.TwUserDAO" class="com.twocents.dao.TwUserHibernateDAO" />
	<bean id="com.twocents.dao.StockDAO" class="com.twocents.dao.StockHibernateDAO" />

	<bean id="com.twocents.dao.OperationDAO" class="com.twocents.dao.OperationHibernateDAO" />

	<bean id="com.twocents.dao.BrokerageNoteDAO" class="com.twocents.dao.BrokerageNoteHibernateDAO" />
	<bean id="com.twocents.dao.BrokerageNoteItemDAO" class="com.twocents.dao.BrokerageNoteItemHibernateDAO" />


	<bean id="com.twocents.dao.CommentPatternDAO" class="com.twocents.dao.CommentPatternHibernateDAO" />
	<bean id="com.twocents.dao.FeedDAO" class="com.twocents.dao.FeedHibernateDAO" />
	<bean id="com.twocents.dao.ConfigurationDAO" class="com.twocents.dao.ConfigurationHibernateDAO" />

	<!-- Services -->
	<bean id="com.twocents.service.TwUserService" class="com.twocents.service.TwUserServiceImpl" />
	<bean id="com.twocents.service.StockService" class="com.twocents.service.StockServiceImpl" />
	<bean id="com.twocents.service.StockBrokerService" class="com.twocents.service.StockBrokerServiceImpl" />
	<bean id="com.twocents.service.DocumentService" class="com.twocents.service.DocumentServiceImpl" />
	<bean id="com.twocents.service.AccountService" class="com.twocents.service.AccountServiceImpl" />
	<bean id="com.twocents.service.BrokerService" class="com.twocents.service.BrokerServiceImpl" />
	<bean id="com.twocents.service.CustodyService" class="com.twocents.service.CustodyServiceImpl" />
	<bean id="com.twocents.service.DarfService" class="com.twocents.service.DarfServiceImpl" />
	<bean id="com.twocents.service.QuoteService" class="com.twocents.service.QuoteServiceImpl" />
	<bean id="com.twocents.service.OperationService" class="com.twocents.service.OperationServiceImpl" />

	<bean id="com.twocents.service.BrokerageNoteService" class="com.twocents.service.BrokerageNoteServiceImpl" />
	<bean id="com.twocents.service.BrokerageNoteItemService" class="com.twocents.service.BrokerageNoteItemServiceImpl" />

	<bean id="com.twocents.service.ReportService" class="com.twocents.service.ReportServiceImpl" />
	<bean id="com.twocents.service.CommentPatternService" class="com.twocents.service.CommentPatternServiceImpl" />
	<bean id="com.twocents.service.FeedService" class="com.twocents.service.FeedServiceImpl" />
	<bean id="com.twocents.service.ConfigurationService" class="com.twocents.service.ConfigurationServiceImpl" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="HSQL" />
				<property name="showSql" value="false" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>